# --- ENVIRONNEMENT ---
.env
backend/config/.env

# --- PYTHON ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- ENV VIRTUEL ---
venv/

# --- FICHIERS TEMPORAIRES & CACHE ---
*.log
*.tmp
*.cache

# --- RAG & MEMOIRE ---
rag/rag.db
memory_data/

# --- VS CODE ---
.vscode/

# --- NODE ---
node_modules/

# --- DOCUMENTATION GÉNÉRÉE ---
docs/

# --- SYSTEME ---
.DS_Store
Thumbs.db
